################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RestSharpTemplate/bin/Debug/net6.0
/RestSharpTemplate/bin/Debug/net8.0
/RestSharpTemplate/obj/Debug/net7.0
/RestSharpTemplate/obj/Debug/net8.0
/RestSharpTemplate/local.runsettings
/RestSharpTemplate/obj/project.nuget.cache
/RestSharpTemplate/obj/project.assets.json
/RestSharpTemplate/obj/RestSharpTemplate.csproj.nuget.dgspec.json
/RestSharpTemplate/obj/RestSharpTemplate.csproj.nuget.g.props
/RestSharpTemplate/obj/RestSharpTemplate.csproj.nuget.g.targets
