<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="CoreApiUrl" value=""/>
		<Parameter name="EventsHostUserName" value=""/>
		<Parameter name="EventsHostPassword" value=""/>
		<Parameter name="AdminWebUrl" value=""/>
		<Parameter name="EstateId" value=""/>
		<Parameter name="CompanyId" value=""/>
		<Parameter name="SiteId" value=""/>
		<Parameter name="Environment" value="Local"/>
	</TestRunParameters>
</RunSettings>